@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

/*font-family: "Kaushan Script", cursive;
font-size: 60px;
color: white;*/

.homeContainer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 20% 20% 20% 10% 10%;
}

.intro {
  grid-column: 2 / 5;
  grid-row: 3 / 6;
  justify-self: center;
  width: 50vw;
  height: auto;
}

.aboutMe {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.about {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  width: 20vw;
  height: auto;
  z-index: 1;
}

.aboutBackground {
  grid-column: 2 / 5;
  grid-row: 2 / 6;
  opacity: 0.5;
  margin: 0 auto;
}

.para1 {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  color: #060f81;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  z-index: 1;
}

.projectContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 40% 40%;
  grid-template-areas:
    "a a a a"
    "b b c c"
    "b b c c"
    "d d e e"
    "d d e e";

  width: 90vw;
  margin: 0 auto 100px auto;
  /*background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
}

.projectTitle {
  width: 35vw;
  height: auto;
  z-index: 1;
  grid-area: a;
  align-content: center;
  margin: 0 auto;
}

.square0 {
  grid-area: b;
  margin: 0 auto;
}

.project0 {
  width: 15vw;
  height: auto;
  border-radius: 3px;
  display: block;
  margin: auto;
}

.project0p {
  text-align: center;
  color: #060f81;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  width: 40vw;
}

.square1 {
  grid-area: c;
  margin: 0 auto;
}

.project1 {
  width: 25vw;
  height: auto;
  border-radius: 3px;
  display: block;
  margin: auto;
}

.project1p {
  text-align: center;
  color: #060f81;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  width: 40vw;
}

.square2 {
  grid-area: d;
  margin: 0 auto;
}

.project2 {
  width: 25vw;
  height: auto;
  border-radius: 3px;
  display: block;
  margin: auto;
}

.project2p {
  text-align: center;
  color: #060f81;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  width: 35vw;
}

.square3 {
  grid-area: e;
  margin: 0 auto;
}

.project3 {
  width: 10vw;
  height: auto;
  border-radius: 3px;
  display: block;
  margin: auto;
}

.project3p {
  text-align: center;
  color: #060f81;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  width: 40vw;
}

.contact {
  width: 40vw;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}

.email {
  margin: 0 auto;
  width: 5vw;
}

.emailA {
  color: #060f81;
  font-size: 24px;
  font-family: "PT Sans Narrow", sans-serif;
}

.linked {
  margin: 0 auto;
  width: 5vw;
}

.linkedA {
  color: #060f81;
  font-size: 24px;
  font-family: "PT Sans Narrow", sans-serif;
}

.github {
  margin: 0 auto;
  width: 5vw;
}

.githubA {
  color: #060f81;
  font-size: 24px;
  font-family: "PT Sans Narrow", sans-serif;
}
