@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

/*font-family: "Kaushan Script", cursive;*/

@import url("https://fonts.googleapis.com/css?family=Seaweed+Script");

/*font-family: "Seaweed Script", cursive;*/

@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
/*color: #060f81;
font-size: 18px;
font-family: "PT Sans Narrow", sans-serif;*/

/*body {
  max-width: 980px;
  max-height: 600px;
}*/

nav {
  display: none;
}

ul {
  list-style-type: none;
  max-width: 95%;
  margin: 0 auto;
}

li {
  display: inline-block;
  color: #060f81;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0 5vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 3vw;
  height: 1vh;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -8px);
  transform: rotate(45deg) translate(-10px, -8px);
}

.introContainer {
  position: relative;
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
}

.intro {
  width: 40vw;
  height: auto;
  position: absolute;
  margin-left: 20vw;
  margin-top: -10vh;
  margin-bottom: 0;
}

.popup {
  position: fixed;
  left: 55vw;
  margin-left: 40vw;
  top: 50vh;
  margin-top: -100vh;
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.popup div {
  width: 15vw;
  height: 5vh;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
}

.popup div {
  padding: 50px;
  background-color: black;
  border-radius: 40px;
  color: #8fe3d9;
  text-align: center;
}

.intro {
  transition: all 1s;
  -webkit-transition: all 1s;
}

.intro:hover {
  cursor: pointer;
}

.intro:hover ~ .popup {
  margin-left: 65px;
  margin-top: -240px;
  opacity: 1;
}

.arrowContainer {
  width: 85vw;
  height: 10vh;
  margin: 0 auto;
}

.downArrow {
  position: absolute;
  margin-left: 40vw;
  margin-top: 5vh;
  width: 5vw;
  height: auto;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.aboutContainer {
  width: 90vw;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.about {
  width: 20vw;
  height: auto;
  position: absolute;
  margin-left: 35vw;
}

.paragraph {
  position: absolute;
  color: #060f81;
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
  display: inline-block;
  width: 60vw;
  margin-left: 30vw;
  margin-top: 50vh;
}

.profile {
  position: absolute;
  width: 25vw;
  height: auto;
  display: inline-block;
  border-radius: 5px;
  margin-top: 50vh;
}
