#particles-js {
  background-color: #06203d;
  height: 400px;
  width: 600px;
}

/*#main {
  background: #fff;
  opacity: 0.5;
  height: 200px;
  width: 300px;
  position: absolute;
  top: 100px;
  left: 50px;
}*/
